#block-text.block
	.content
		%h2.title Dashboard
		.inner
			%h3 Administering your contacts
			%p.first
				This simple to use management system is bespoke to your organisation so your details cannot be accidentally altered by another authority. It is important for the effectiveness of the Talk to Reg system, and for the reputation of your organisation, that you keep your information up to date.
	
			%hr
	
			%h3 Contacts
			%p
				Under 'list' you can see the contact details for each of your categories, and edit or delete them
			%p
				Under new you can enter new contact details for each category in the standard list provided in the dropdown box.
				
			%hr
		  
			%h3 Accounts
			%p
				Here you can add or remove personnel responsible for updating your information, or change their details.

			%hr
				
			%h3 Profile
			%p
				Change your email, password or name.

-content_for :sidebar, partial("base/sidebar")
