@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

@secondary: #1d68a6;
@gridGutterWidth: 25px;

.full-border-radius(@topleft: 0px, @topright: 0px, @bottomleft: 0px, @bottomright: 0px) {
	-moz-border-radius-topleft: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	border-radius: @topleft @topright @bottomright @bottomleft;
}

@media (max-height: 700px) {
	html.page {
		#wrapper {
			min-height: 700px;
		}
	}
}

@media (min-height: 700px) {
	html.page {
		#wrapper {
			min-height: 100%;
		}
	}
}

html.page {
	height: 100%;
	
	body {
		height: 100%;
	}
	
	#wrapper {
		height: 100%;
	}
	
}


html {
	margin: 0;
	padding: 0;
	background: transparent url(/images/bg.png);
	
	body {
		background: transparent url(/images/headerbg.png) top center repeat-x;
		font-family: 'Open Sans', sans-serif !important;
		
		p {
			font-family: 'Open Sans', sans-serif !important;
		}
		
		a {
			color: @secondary;
		}
		
		#wrapper {
			background: transparent url('/images/footer.png') bottom left repeat-x;
		}
		
		.container {
			display: table;
			caption-side: top;
			position: relative;
		
			nav {
				display: table-caption;
				position: absolute;
				top: 90px;
				right: 0;
				margin: 0;
				
				ul {
					list-style-type: none;
					
					li {
						float: left;
						
						a {
							padding: 20px 25px 20px 15px;
							display: block;
							color: #fff;
							font-weight: bold;
							font-size: 1.1em;
							background: transparent url(/images/sprite.png) no-repeat;
							background-position: -10px -945px;
						}
						
						a:focus, a:hover, a:active {
							color: @secondary;
							text-decoration: none;
						}
					}
				}
			}

		
			header {
				height: 148px;
				position: relative;
				margin: 0 !important;
				
				h1 {
					text-indent: -1000em;
					margin: 20px 0 0 25px;
					
					a {
						display: block;
						width: 242px;
						height: 91px;
						background: transparent url(/images/sprite.png) no-repeat;
						background-position: -10px -10px;
					}
				
				}
				
				#people {
					position: absolute;
					bottom: 0;
					left: 330px;
				}
				
				.tagline {
					font-size: 1.2em;
					font-weight: bold;
					color: @secondary;
					margin-top: 5px;
					text-shadow: -1px 1px 1px #ddd;
					margin-left: 25px;
				}
			}
			
			#main {
				margin-top: 45px;
				margin-bottom: 15px;
				padding: 0;
				
				#inner {
					margin: 0;
				
					#welcome {
						background-color: #e0e0e0;
						.border-radius(10px);
						float: none !important;
						margin: 0 auto !important;
						.box-shadow(0 6px 9px 6px rgba(0, 0, 0, 0.5));
						position: relative;
						
						#text {	
							margin: 20px 50px 55px 20px;
							h1 {
								color: @secondary !important;
								font-weight: normal;
								margin: 0 0 20px;
							}
							
							p {
								font-size: 1.1em;
								line-height: 1.3em;
								margin-bottom: 20px;
							}
							
							#guy {
								position: absolute;
								bottom: 0;
								left: 380px;
							}
							
							#enter {
								width: 322px;
								height: 75px;
								color: @secondary;
								font-size: 1.4em;
								font-style: italic;
								background: transparent url(/images/sprite.png) no-repeat;
								background-position: -10px -121px;
								padding: 20px 20px;
								margin: 20px 0 0 30px;
							}
	
						}
					
						#homeform {
							border: none;
							height: 254px;
							background: transparent url(/images/sprite.png) no-repeat;
							background-position: right -256px;
							position: absolute;
							right: -40px;
							top: 60px;
							
							fieldset {
								border: none !important;
								padding: 0 7px;
								background: transparent url(/images/sprite.png) left top no-repeat;
								background-position: -10px -674px;
								position: absolute;
								left: -31px;
								height: 254px;
								margin: 0;
								width: 100%;
								
								h3 {
									font-size: 1.3em;
									color: #fff !important;
									padding: 15px 15px;
									border: none;	
									margin: 0;
									font-weight: bold;	
								}
								
								input {
									width: 85%;
									font-size: 1.6em;
									padding: 7px;
								}
								
								p {
									text-align: center;
									
									a {
										color: #fff;
									}
								}
								
								.control-group {
									margin: 25px 0 0 0;
								}
								
								button {
									background: transparent url(/images/searchgrad.png) left repeat-x;
									margin: 0 0 15px 0;
									float: none;
								}
							}
						}
					
					}
					
					#content {
						background-color: #fff;
						.border-radius(10px);
						float: none !important;
						margin: 0 auto 140px auto;
						position: relative;
						.box-shadow(0 6px 9px 6px rgba(0, 0, 0, 0.5));
						
						#councils {
							border-bottom: 1px solid #ffa324;
							padding-bottom: 15px;
							margin: 15px 20px 25px 20px;
							
							p {
								font-size: 1.1em;
							}
							
							h2 {
								font-size: 1.4em;
								color: @secondary;
								font-weight: normal;
								
								strong {
									color: #ffa324;
									font-weight: normal;
								}
							}
							
							#againform {
								margin: 17px 0;
								input {
									margin: 0 7px !important;
								}
							}
							
						}
						
						#right {
							
							#rightform, #mobile {
								background: transparent url('/images/rightform.png') right no-repeat;
								height: 190px;
								margin-right: -60px;
								color: #fff;
								position: relative;
								
								div, fieldset {
									background: transparent url('/images/rightadend.png') top left no-repeat;
									margin-left: -15px;
									height: 190px;
									h3 {
										font-size: 1.2em;
										padding: 10px;
										margin-bottom: 15px;
									}
									
									p.form {
										margin-left: 10px;
										text-align: center;
									}
										
									button {
										background: transparent url(/images/searchgrad.png) left repeat-x;
										margin: 0 0 15px 0;
										float: none;
									}
									
									#mobilepic {
										float: right;
										margin: 10px 30px 0 10px;
									}
									
									p#now {
										font-size: 1.3em;
										margin-left: 10px;
										font-weight: normal;
										line-height: 1.43em;
									}
									
									#mobilemore{
										margin-left: 10px;
										color: #fff;
										font-size: 1.1em;
										text-decoration: underline;
									}
									
								}
							}
							
						}
						
						#types {
							margin: 20px 25px;
							
							dt {
								height: 49px;
								background: transparent url(/images/bar.png) bottom;
								color: #fff;
								.border-radius(10px);
								padding: 0 65px;
								position: relative;
								margin: 0 0 30px 0 !important;
								z-index: 1000;
								cursor: pointer;
								
								img#type {
									position: absolute;
									left: -15px;
									top: -10px;
								}
								
								img.arrow {
									position: absolute;
									right: 15px;
									top: 10px;
									z-index: 100;
								}
								
								h3 {
									color: #fff;
									margin: 7px 0 0 0;
									font-size: 1.3em;
								}
								
								p {
									margin: 0;
									padding: 0;
									font-weight: normal;
									line-height: 1em;
								}
							}
							
							dt:hover {
								background: transparent url(/images/bar.png) top;
							}
	
							
							dd {
								background-color: #fff9d9;
								.border-radius(10px);
								margin: 0 10px 0 50px;
								position: relative;
								top: -75px;
								.box-shadow(0 3px 6px 3px rgba(0, 0, 0, 0.3));
								
								div.ddinner {
									position: static;
									padding: 65px 17px 10px 17px;
								}
								
								img#downarrow {
									display: block;
									position: absolute;
									right: 5px;
									top: 5px;
									z-index: 1000;
								}
								
								h3 {
									color: #333;
								}
								
								#contacts {
									float: right;
									border-left: 1px solid @secondary;
									width: 30%;
									margin: 0;
									padding: 0;
									
									h3 {
										margin: 0 12px;
									}
									
									ul {
										padding: 0 12px;
										
										li {
											font-size: 1.2em;
											padding: 7px 0 7px 0;
											
											a {
												font-weight: bold;
											}
										}
									}
								}
								
								#contents {
									float: left;
									width: 70%;
									padding: 0;
									margin-bottom: 20px;
								}
								
								ul.bodies {
									list-style-type: none;
									margin: 0;
									padding: 0;
									width: 70%;
									
									li {
									
										border-bottom: 1px solid @secondary;
										margin-bottom: 7px;
										padding-bottom: 4px;
									
										h4 {
											margin-bottom: 7px;
										}
									}
								}
							}
						}
						
					}
					

				}
			}

		}
		
		footer {
			width: 100%;
			margin: 0;
			
			div {
				position: relative;
				margin-left: auto !important;
				margin-right: auto !important;
				float: none !important;
			
				a {
					color: @secondary;
					font-size: 0.9em;
				}
				
				a:focus, a:hover, a:active {
					color: #ffcc86;
				}
				
				ul {
					list-style-type: none;
					position: absolute;
					left: 0;
					bottom: 40px;
					margin: 0;
					padding: 0;
					
					li {
						float: left;
						padding: 0px 5px 0px 0;
						margin-right: 5px;
						border-right: 1px solid @secondary;
						font-weight: bold;
					}
				}
				
				#supporters {
					background-color: #fff;
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 0;
					margin: 0;
					padding: 10px 0;
					.full-border-radius(10px, 10px, 0, 0);
					
					p {
						margin: 0 15px;
						font-size: 0.9em;
						font-weight: bold;
						color: @secondary;
					}
					
					img {
						float: left;
						margin: 0 25px;	
					}
					
					#betterbusiness, #ldc {
						margin-top: 10px;
					}
				}
				
				form {
					width: 395px;
					height: 124px;
					position: absolute;
					right: 0;
					background: transparent url(/images/sprite.png) no-repeat;
					background-position: -10px -530px;
					bottom: 0;
					margin: 0;
					
					h3 {
						border: none;
						font-size: 1em;
						color: #ffcc86 !important;
						margin: 25px 0 2px 10px;
						padding: 0;
						line-height: 1em;
					}
					
					p#need {
						color: #fff;
						margin: 0 0 0 10px;
						font-size: 1.1em;
						padding: 0;
					}
					
					p#details {	
						margin: 0 0 0 10px;
										
						.text {
							width: 90px;
							margin: 10px 4px 0 0;
						}
						
						.login {
							margin: 10px 0 0 0;
						}
					}
				
				}
				
			}
		}
		
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#welcome {
		#guy {
			left: 320px !important;
		}
		
		#enter {
			margin: 20px 0 0 -15px !important;
		}
		
		#homeform {
			h3 {
				font-size: 1.1em !important;
				padding: 15px 10px !important;
			}	
		}
	}
	
	#content {
		#right {
			h3 {
				font-size: 1.1em !important;
			}
			
			#now {
				font-size: 1em !important;
			}
			
			#mobilepic {
				margin-left: 0 !important;
			}
			
			input {
				width: 75%;
			}
		}
		
		#types {
			dt {
				p {
					font-size: 0.85em !important;
				}
			}
		}
		
	}
}

@media (max-width: 767px) {

	#wrapper {
		background: none !important;
	}

	.container {
		display: block !important;
		caption-side: bottom !important;
		margin: 0 !important;
		padding: 0 !important;
		
		nav {
			position: static !important;
			display: block !important;
			width: 100% !important;
			margin: 0 auto !important;
			padding: 0 !important;
			float: none !important;
			
			ul {
				padding: 0 !important;
				margin: 0 !important;
				width: 95% !important;
				li {
					width: 100%;
					padding: 0 !important;
					margin: 0 !important;
					a {
						background: transparent url(/images/navmobile.png) left center repeat-x !important;
						font-size: 1.2em !important;
						.border-radius(10px);
						width: 100%;
						padding: 10px !important;
						margin: 0 0 10px 0 !important;
					}
				}
			}
			
		}
		
		header {
			h1 {
				margin: 15px 0 0 5px !important;
			}
			
			.tagline {
				margin: 5px 0 0 5px !important;
				font-size: 1.1em !important;
			}
		}
		
		footer {
			width: 110% !important;
		}
		
		#inner {
			
			#welcome {
				margin: 10px auto;
				padding: 0 !important;
				width: 95%;
				background: transparent !important;
				.box-shadow(0 0 0 rgba(0, 0, 0, 0.3)) !important;
				
				#text {
					background-color: #fff;
					margin: 0 !important;
					padding: 15px 20px;
					.border-radius(10px);
					
					h1 {
						font-size: 1.5em !important;
						margin-bottom: 7px !important;
					}
				}
				
				#homeform {
					margin: 10px auto !important;
					float: none !important;
					padding: 10px !important;
					width: 95% !important;
					.border-radius(10px) !important;
					background: transparent url(/images/mobilebg.png) top left repeat-x !important;
					height: 198px !important;
					
					fieldset {
						background: none !important;
						position: static !important;
						text-align: center;
						
						h3 {
							margin: 0 !important;
							padding: 0 !important;
							font-size: 1.2em !important;
						}
					}
				}
				
				p {
					font-size: 14px;
					line-height: 19px;
				}
				
				img {
					width: 100%;
					float: none;
				}
				
				#homeform {
					position: static !important;
				}
			}
			
			#content {
				margin: 0 auto !important;
			}
			
			#councils {
				margin-bottom: 10px !important;
				h2 {
					line-height: 1.3em !important;
					margin-bottom: 10px !important;
					font-size: 1.7em !important;
				}
			}
			
			#types {
				margin: 20px 5px !important;
				padding: 0;
				width: 95% !important;
				
				dt {
					margin: 0 auto !important;
					padding: 0 !important;
				
					h3 {
						line-height: 18px;
						padding: 5px 10px;
						margin: 0 60px !important;
						font-size: 1.1em !important;
					}
					
					p {
						display: none;
					}
					
					#type {
						left: -2px !important;
					}

				}
				
				dd {
					margin: 0 auto !important;
					width: 87% !important;
					left: 5% !important;
					
					#downarrow {
						right: 12px !important;
						margin-top: 1px;
					}

					ul.tips {
						float: none !important;
						border-left: none !important;
						width: 100%;
						
						li {
							font-size: 1.2em;
							padding: 7px 0 7px 14px;
							
							a {
								font-weight: bold;
							}
						}
					}
					
					ul.bodies {
						list-style-type: none;
						margin: 0;
						padding: 0;
						width: 70%;
						
						li {
						
							border-bottom: 1px solid @secondary;
							margin-bottom: 7px;
							padding-bottom: 4px;
						
							h4 {
								margin-bottom: 7px;
							}
						}
					}

				}
			}
		}
	}

}