.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  
.group
  =f.label :category_id
  =f.error_message_on :category_id
  =f.select :category_id, :collection => Categories.all, :fields => [:name, :id], :include_blank => 'None'

.group
  =f.label :address
  =f.error_message_on :address
  ~f.text_area :address, :class => :text_area

.group
  =f.label :tel
  =f.error_message_on :tel
  =f.text_field :tel, :class => :text_field

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field

.group
  =f.label :website
  =f.error_message_on :website
  =f.text_field :website, :class => :text_field

.group
  =f.label :contact
  =f.error_message_on :contact
  ~f.text_area :contact, :class => :text_area

.group
  =f.label :hours, :caption => "Opening Hours"
  =f.error_message_on :hours
  ~f.text_area :hours, :class => :text_area

.group
  =f.label :howto, :caption => "How to contact"
  =f.error_message_on :howto
  ~f.text_area :howto, :class => :text_area

- if @snac == "all"
  .group
    =f.label :snac, :caption => "Council"
    =f.error_message_on :snac
    =f.select :snac, :collection => Council.all, :fields => [:name, :snac], :include_blank => 'None'
- else
  =f.hidden_field :snac, :value => @snac

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:contacts, :index)}';return false", :class => :button
