- unless @council["tel"].nil?
	%p
		%strong Telephone
		= @council["tel"]

- unless @council["email"].nil?
	%p
		%strong Email
		= mail_to(@council["email"])

- unless @council["website"].nil?
	%p
		%strong Website
		= link_to(@council["website"], @council["website"])