#content.row
	#text
		#page
			%h2 Talk to Reg Mobile
			
			:markdown
				As well as being available on your computer, Talk to Reg is now available on your mobile phone.
			
				There's no app to install, and you can access the same information you see on the website by just going to [www.talktoreg.co.uk](http://www.talktoreg.co.uk) in your web browser.
				
				The site will automatically display in a mobile friendly layout and, if you have a modern smartphone (such as an iPhone or Android phone), the site will be able to pinpoint your exact location, perfect if your company is based in multiple locations and you don't know what council to contact.